<section class="about">
  <h1>
    <div>more</div>
    <div>about</div>
    <div>me</div>
  </h1>
  <div class="maintext">
    <p class="longtext">
      Greetings!<br /><br />
      I'm Ishant Kumar, a 23-year-old explorer navigating the fascinating realms
      of Computers and Technology. Ever since my formative years, I've been
      fueled by an insatiable curiosity for the digital universe. The allure of
      understanding how technology not only shapes but enhances our daily lives
      has been my perpetual source of excitement.<br /><br />
      In my journey, I've delved deep into the heart of technological
      advancements, where every breakthrough is a triumph and each discovery is
      a thrilling adventure.<br /><br />
      I am open minded and a determined person. I make sure to give my best to
      any task I am presented with.<br /><br />
      My hobbies other than programming are Soccer, Video Games, Movies, Reading
      and Walking. Yes, I like to walk, A LOT.<br /><br />
      I am also a good team player, working with people of different
      perspectives and taking into consideration everyone in the team , so that
      no one feels left out. I am a person who will good mood and great
      motivation to work.
    </p>
    <div class="socials">
      <div class="container">
        <a href="https://x.com/Ishant010301">
          <button class="twitter">
            <img src="./public/twitter.svg" /></button
        ></a>
        <a href="https://github.com/ishant010301">
          <button class="github"><img src="./public/github.svg" /></button
        ></a>
        <a href="https://www.linkedin.com/in/ishant-kumar-vitb/">
          <button class="linkedin">
            <img src="./public/linkedin.svg" /></button
        ></a>
        <a href="https://t.me/fluffyboi01">
          <button class="telegram">
            <img src="./public/telegram.svg" /></button
        ></a>
        <a href="https://www.instagram.com/fluffyboi03/">
          <button class="instagram">
            <img src="./public/instagram.svg" /></button
        ></a>
        <div>
          <img src="./public/empty.svg" style="scale: 0.1" />
        </div>
        <div>
          <img src="./public/empty.svg" style="scale: 0.1" />
        </div>
        <div>
          <img src="./public/empty.svg" style="scale: 0.1" />
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="dots" style="user-select: none">itsmaboyishant</p>
  </div>
</section>
