<section class="certificates">
  <h1>
    <div>my</div>
    <div>certificates</div>
  </h1>
  <div class="certcontainer">
    <div class="certholder">
      <div class="cert">
        <div class="certimg"><img src="./public/cert/cert1.png" /></div>
        <div class="certtxt">AWS Certified Cloud Practitioner</div>
      </div>
      <div class="cert">
        <div class="certimg"><img src="./public/cert/cert2.png" /></div>
        <div class="certtxt">Goldman Sachs Engineering Virtual Program</div>
      </div>
      <div class="cert">
        <div class="certimg"><img src="./public/cert/cert3.png" /></div>
        <div class="certtxt">IBM Machine Learning with Python</div>
      </div>
      <div class="cert">
        <div class="certimg"><img src="./public/cert/cert4.png" /></div>
        <div class="certtxt">
          Google Foundations of User Experience (UX) Design
        </div>
      </div>
      <!-- <div class="cert">
        <div class="certimg"><img src="./public/certerror.png" /></div>
        <div class="certtxt">More to be added...</div>
      </div> -->
    </div>
  </div>
</section>
