<section class="contact">
  <h1>
    <div>let's</div>
    <div>connect</div>
  </h1>
  <div class="contactmain">
    <form autocomplete="on">
      <div class="main">
        <div>
          <h2>this is just a test form, it doesn't work currently.</h2>
          <h2>name</h2>
          <input type="text" id="name" />
        </div>
        <br />
        <div>
          <h2>phone</h2>
          <input type="tel" id="phone" />
        </div>
        <div>
          <h2>email</h2>
          <input type="email" id="email " />
        </div>
      </div>
      <div class="main">
        <div>
          <h2>message</h2>
          <textarea id="message"></textarea>
        </div>
        <div class="btnbox">
          <button type="submit">
            Send Message
            <div class="arrow"><img src="../public/Arrow.svg" /></div>
          </button>
        </div>
      </div>
    </form>
    <div class="contactcontainer">
      <div class="contactleft">
        <div class="btncontainer">
          <div class="main">
            <a href="https://wa.me/9718022115">
              <button>
                connect on <br />
                whatsapp
                <div class="arrow"><img src="../public/Arrow.svg" /></div>
              </button>
            </a>
          </div>
          <div class="main">
            <a href="https://t.me/fluffyboi01">
              <button>
                connect on <br />
                telegram
                <div class="arrow">
                  <img src="../public/Arrow.svg" />
                </div>
              </button>
            </a>
          </div>
          <div class="main">
            <a href="mailto: ishant121003@gmail.com">
              <button>
                connect on <br />
                mail
                <div class="arrow">
                  <img src="../public/Arrow.svg" alt="arrow" />
                </div>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="contactRight">
        <div class="headerbox">
          <div class="logo">ik</div>
          <h2>ishant kumar</h2>
        </div>
        <div class="contactinfo">
          <div class="phone">
            <h2>Phone</h2>
            <h1>+91 97180 22115</h1>
          </div>
          <div class="address">
            <h2>Address</h2>
            <h1>
              Kaushalya Niwas, 70, Sector 48, Near Badkhal, Faridabad, Haryana,
              India 121001
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
