<section class="hero">
  <div class="graphics">
    <p class="dots" style="user-select: none">
      ishant is here, are you ready to roll?
    </p>
    <img src="./public/graphic hero 1.svg" class="under" />
    <img src="./public/hero pic.png" class="main" />
    <img src="./public/boxes.svg" class="boxes" />
    <img src="./public/stars.svg" class="stars" />
    <div class="circle1"></div>
    <div class="circle2"></div>
  </div>
  <div class="text">
    <h1>i am</h1>
    <div class="textwrap">
      <div class="element">ISHANT</div>
      <div class="element">Front End</div>
      <div class="element">ux/ui</div>
      <div class="element">data</div>
      <div class="element">ISHANT</div>
    </div>
    <div class="textwrap">
      <div class="element">KUMAR</div>
      <div class="element">DEVELOPER</div>
      <div class="element">DESIGNER</div>
      <div class="element">ANALYST</div>
      <div class="element">KUMAR</div>
    </div>
    <div>
      <h2>01---------------AZ</h2>
    </div>
  </div>
</section>
