<section class="quote">
  <div><img src="./public/dot grid.svg" /></div>
  <div class="main">
    <h1>
      <span class="normaltext">"</span><span class="whitetext">Coding</span
      ><span class="normaltext"> is not just about</span>
      <span class="whitetext">instructions</span
      ><span class="normaltext">; it's about expressing</span>
      <span class="whitetext">logic and creativity</span
      ><span class="normaltext"> in a language machines understand."</span>
    </h1>
    <p>- Chris Pine</p>
    <div class="graphic2"><img src="./public/quotegraphic.svg" /></div>
  </div>
</section>
