<section class="resume">
  <h1>
    <div>my</div>
    <div>resume</div>
  </h1>
  <div class="resumemain">
    <div class="uxui">
      <div class="textcontainer">
        <div class="title1">for ux ui and front end</div>
        <div class="hovertext"><span>hover to see</span></div>
      </div>
      <div class="imagebg"><img src="./public/resumegraphic.svg" /></div>
      <div class="bgblack">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
      </div>
      <div class="content">
        <div class="title2">for ux ui and front end</div>
        <div><img src="./public/resume/uiuxresume.png" /></div>
        <a href="../public/resume/uiuxresume.pdf" download="UIUX_Resume">
          <button class="download">
            <img src="./public/download.svg" /></button
        ></a>
      </div>
    </div>
    <div class="dataanalytics">
      <div class="textcontainer">
        <div class="title1">for data analytics</div>
        <div class="hovertext"><span>hover to see</span></div>
      </div>
      <div class="imagebg"><img src="./public/resumegraphic.svg" /></div>
      <div class="bgblack">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
      </div>
      <div class="content">
        <div class="title2">for data analytics</div>
        <div><img src="./public/resume/dataanalyticsresume.png" /></div>
        <a
          href="../public/resume/dataanalyticsresume.pdf"
          download="DataAnalytics_Resume"
        >
          <button class="download">
            <img src="./public/download.svg" /></button
        ></a>
      </div>
    </div>
  </div>
  <div class="resumemobile">
    <div class="uxui">
      <div class="textcontainer">
        <div class="title1">for ux ui and front end</div>
        <div class="imagecontainer">
          <img src="./public/resume/uiuxresume.png" />
        </div>
        <a href="../public/resume/uiuxresume.pdf" download="UIUX_Resume">
          <button class="download">
            <img src="./public/download.svg" /></button
        ></a>
      </div>
    </div>
    <div class="dataanalytics">
      <div class="textcontainer">
        <div class="title1">for data analytics</div>
        <div class="imagecontainer">
          <img src="./public/resume/dataanalyticsresume.png" />
        </div>
        <a
          href="../public/resume/dataanalyticsresume.pdf"
          download="DataAnalytics_Resume"
        >
          <button class="download">
            <img src="./public/download.svg" /></button
        ></a>
      </div>
    </div>
  </div>
</section>
