<section class="skills">
  <div class="main">
    <h1>
      <div>my</div>
      <div>skills</div>
    </h1>
    <div class="skillgrid">
      <div class="skilbox">
        <img src="../public/skills/JS.svg" />
        <div>
          <h2>Javascript</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/React.svg" />
        <div>
          <h2>React JS</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/html.svg" />
        <div>
          <h2>HTML</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/css.svg" />
        <div>
          <h2>CSS</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/scss.svg" />
        <div>
          <h2>SCSS</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/figma.svg" />
        <div>
          <h2>Figma</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/adobe.svg" />
        <div>
          <h2>Adobe</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/python.svg" />
        <div>
          <h2>Python</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/linux.svg" />
        <div>
          <h2>Linux</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/aws.svg" />
        <div>
          <h2>AWS Cloud</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/powerbi.svg" />
        <div>
          <h2>Power BI</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/mysql.svg" />
        <div>
          <h2>MySQL</h2>
        </div>
      </div>
      <div class="skilbox">
        <img src="../public/skills/Tailwind.svg" />
        <div>
          <h2>Tailwind</h2>
        </div>
      </div>
    </div>
  </div>
</section>
